<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Team Acela's Website</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
</head>
<body style="background-color:khaki; display: flex; flex-direction: column; align-items: center">
  <div>
      <h1>Welcome to Acela</h1>
    {{{body}}}
</div>

  <h2  style="color:blueviolet" align = "center">Add an event</h2> <br />
    <div class="container" style="width: 30rem;"> 
    <form action="/event" method="post">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Title</span>    
        <input type="text" name="title" class="form-control" placeholder="Title" aria-label="Title" aria-describedby="basic-addon1" /> <br /> 
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Description</span>  
        <input type="text" name="description" class="form-control" placeholder="Description" aria-label="Description" aria-describedby="basic-addon1" /> <br />
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Location</span>  
        <input type="text" name="location" class="form-control" placeholder="Location" aria-label="Location" aria-describedby="basic-addon1"> <br />
    </div>
        <input class="btn btn-primary" type="submit" name="submit" value="submit" />
    
    </form>
    </div>
  </div>
</body>
</html>